---
import { Image } from "astro:assets";
import ContactIcons from "../../components/ContactIcons.astro";
import IconWrapper from "../../components/IconWrapper.astro";
import Presentation from "../../components/Presentation.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import SkillCard from "../../components/SkillCard.astro";
import { aboutMe } from "../../data/myDescription";
import { projects } from "../../data/projects";
import { skills, stack, touching } from "../../data/skills";
import Layout from "../../layouts/Layout.astro";
import type { ProjectType } from "../../types";
import facudevImage from "../../../public/facuImage.png";
const currentLang = "fr";
---

<Layout title="FacuDev portfolio">
  <main>
    <!-- Home section =============================== -->
    <section
      id="home-section"
      class="w-[90vw] max-w-[1100px] m-auto min-h-screen flex flex-wrap-reverse lg:flex-nowrap items-center justify-center"
    >
      <Presentation />
      <Image
        src={facudevImage}
        alt="Facudev face"
        class={"rounded-full mt-20 lg:mt-0 w-full max-w-[500px]"}
        loading="eager"
      />
    </section>
    <!-- Projects section =============================== -->
    <section
      id="projects-section"
      class="w-[90vw] max-w-[1100px] m-auto min-h-screen flex flex-col items-start justify-start mb-40 pt-20 lg:pt-0 scroll-mt-20"
    >
      <h2 class="animate-in-view text-white">Projets</h2>
      <div class="flex flex-col gap-10 w-full pt-5">
        {
          projects.map((project: ProjectType, index: number) => (
            <ProjectCard {...project} index={index} />
          ))
        }
      </div>
    </section>
    <!-- About me & Skills section =============================== -->
    <section
      id="skills-section"
      class="w-[90vw] max-w-[1100px] mx-auto mb-20 flex flex-col-reverse gap-20 lg:gap-0 lg:flex-row lg:divide-x divide-white/50 scroll-mt-40"
    >
      <div class="lg:w-[80%] pr-5">
        <h2 class="animate-in-view text-white text-4xl mb-14 mx-auto lg:mx-0">
          À propos
        </h2>
        {
          aboutMe[currentLang].map((paragraph) => (
            <p class="animate-in-view mb-5 text-white/80">{paragraph}</p>
          ))
        }
      </div>
      <div id="skills-container" class="text-start flex flex-col gap-10 pl-5">
        <SkillCard title="Skills">
          {
            skills.map((skill) => (
              <IconWrapper
                skill={skill.skill}
                iconName={skill.iconName}
                isInLove={skill.isInLove}
              />
            ))
          }
        </SkillCard>
        <SkillCard title="Stack">
          {
            stack.map((skill) => (
              <IconWrapper
                skill={skill.skill}
                iconName={skill.iconName}
                isInLove={skill.isInLove}
              />
            ))
          }
        </SkillCard>
        <SkillCard title="Touching">
          {
            touching.map((skill) => (
              <IconWrapper
                skill={skill.skill}
                iconName={skill.iconName}
                isInLove={skill.isInLove}
              />
            ))
          }
        </SkillCard>
      </div>
    </section>
    <!-- Contact section =============================== -->
    <section
      id="contact-section"
      class="w-[90vw] max-w-[1100px] m-auto min-h-[50vh] flex flex-col items-start justify-start"
    >
      <h2 class="text-white text-4xl mb-10 mx-auto lg:mx-0">
        Entrons en contact !
      </h2>
      <p class="text-white/80 text-center lg:text-left mx-auto lg:mx-0">
        N'hésitez pas à consulter mes profils et à me contacter à tout moment !
      </p>
      <ContactIcons />
    </section>
    <style>
      main {
        margin: auto;
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }
      .animate-in-view {
        animation-timeline: view();
        animation-name: animate-in-view;
        animation-fill-mode: initial;
        animation-duration: 1ms;
      }
      h2 {
        font-family: "Fifties", serif;
        font-size: 3rem;
      }
      @keyframes animate-in-view {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      #home-section img {
        /* border-radius: 0 0 15% 15%; */
        mask-image: linear-gradient(to bottom, black 80%, transparent);
      }
      .shadow-custom {
        box-shadow: rgb(0, 0, 0) 0px -50px 30px;
      }
      .video-gradient {
        position: absolute;
        background: linear-gradient(to top, black, transparent);
        bottom: -100px;
        left: 0;
        width: 100%;
        height: 100%;
      }
      /* .h1-welcome span {
    text-shadow:
      2px 2px 1px rgb(195, 99, 255),
      2px -1px 1px rgb(195, 99, 255),
      -1px 1px 1px rgb(195, 99, 255),
      -1px -1px 1px rgb(195, 99, 255);
  } */
    </style>
  </main>
</Layout>
