---
import type { IconName } from "../components/icons/icon-names";

interface Props {
  skill: string;
  iconName: IconName;
  trainingLevel: 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10;
  isInLove: "false" | "true";
}

const { skill, iconName, trainingLevel, isInLove } = Astro.props;
let SvgIcon;
try {
  SvgIcon = (await import(`../components/icons/${iconName}.astro`)).default;
} catch (e) {
  console.error(`Error importing SVG icon: ${iconName}`, e);
}
---

<div class="group flex flex-col items-center relative">
  <span
    data-is-in-love={isInLove}
    data-training-level={trainingLevel}
    id="hearts"
    class="hearts flex flex-col"></span>

  {SvgIcon && <SvgIcon />}
  <div
    class="font-semibold text-nowrap text-sm hidden group-hover:block transition-all duration-300 ease-in-out absolute top-[120%] z-20 bg-black p-2 rounded-lg shadow-white shadow-sm"
  >
    <p>{skill}</p>
    <span class="font-light">Exp: {trainingLevel}</span>
  </div>
</div>

<style>
  .heart {
    position: absolute;
    bottom: 50px;
    font-size: 24px;
    animation: heart-animation 1s ease-in-out forwards;
  }

  @keyframes heart-animation {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
</style>
