---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import type { ProjectType } from "../types";
import type { IconName } from "./icons/icon-names";
import IconWrapper from "./IconWrapper.astro";

const { title, description, link, image, readme, stack, index } =
  Astro.props as ProjectType & { index: number };

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class={index % 2 === 0
    ? "project-card flex flex-row-reverse justify-center gap-5 w-full mt-10"
    : "project-card flex justify-center gap-5 w-full mt-10"}
>
  <div
    style=`background-image: url('${image}'); background-position: center; background-size: cover;`
    class="w-1/2 rounded-md border border-white/50"
  >
  </div>
  <!-- description section -->
  <div
    class="flex flex-col justify-between gap-5 w-1/2 border-2 p-5 rounded-lg"
  >
    <div class="flex justify-between">
      <h3 class="font-bold text-2xl text-balance">{title[lang]}</h3>
      <a
        class="border h-fit px-2 rounded-lg text-nowrap hover:border-primary-cyan hover:text-primary-cyan transition-colors ease-in-out duration-300"
        href={link}
        target="_blank"
        aria-label="Link to the project repository">{t("projects.repoBtn")}</a
      >
    </div>
    <p class="text-white/70">{description[lang]}</p>
    <div class="flex flex-col gap-5">
      <h4 class="text-xl font-semibold">{t("projects.stack")}</h4>
      <div class="flex gap-5 h-10">
        {stack.map((icon: IconName) => <IconWrapper iconName={icon} />)}
      </div>
    </div>
  </div>
</div>

<style>
  .project-card {
    animation-timeline: view();
    animation-name: animate-project-card;
    /* animation-fill-mode: initial; */
    animation-duration: 1ms;
  }

  @keyframes animate-project-card {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
