---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

const { description, ogUrl } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>"FacuDev Portfolio"</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content="FacuDev portfolio" />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://avatars.githubusercontent.com/u/118886942?v=4"
    />
    <meta property="og:url" content={ogUrl} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="FacuDev portfolio" />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://avatars.githubusercontent.com/u/118886942?v=4"
    />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Link alternate -->
    <link
      rel="alternate"
      hreflang="fr"
      href="https://facubotta.netlify.app/fr/"
    />
    <link
      rel="alternate"
      hreflang="es"
      href="https://facubotta.netlify.app/es/"
    />
    <link rel="alternate" hreflang="en" href="https://facubotta.netlify.app/" />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="relative bg-black">
    <div
      class="absolute -z-10 bottom-0 left-0 w-full top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>

  <style is:global>
    * {
      box-sizing: border-box;
    }
    @font-face {
      font-family: 'Helvetica';
      src: url('/fonts/Helvetica.ttf') format('truetype');
      font-style: normal;
      font-weight: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Fifties';
      src: url('/fonts/VVDS-Fifties-Med-Reg.otf') format('opentype');
      font-style: normal;
      font-weight: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Fifties Condensed';
      src: url('/fonts/VVDS-Fifties-Cond-Bold.otf') format('opentype');
      font-style: normal;
      font-weight: bold;
      font-display: swap;
    }
    html {
      font-family: 'Helvetica', sans-serif;
      scroll-behavior: smooth;
    }
    .no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  </style>
</html>
